/*Google InfoWindow style*/
.gm-style-iw {
width: 150px; 
min-height: 25px;
}

* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1#name {
  font-size: 40px;
  color: #372626;
  line-height: 48px;
  display: inline;
  text-align: right;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h2#footer-text {
  font-weight: bold;
  font-size: 24px;
  color: #2c323e;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #2c323e;
  line-height: 28px;
}

#skillsH3 {
  color: #372626;
  display: none;
}

#skills {
  display: block;
}

.orange {
  background-color: #F5AE23;
}

.contacts-text {
  color: #000;
  font-weight:bold;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.skills-text {
  font-weight: bold;
  color: #000;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}

.footer-color {
  background: url(../images/trianglify-background.svg) 0 88%;
}

#main {
	margin: 0 auto;
	width: 100%;
	max-width: 1500px;
}

#menu {
  width: 100%;
  height: 60px;
  max-width: 1500px;
  position: fixed; 
  top: 0;
  background: url(../images/trianglify-background.svg) 0 0;
  z-index:50;
  overflow: hidden;
}

#menu ul{
  padding: 10px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

.menu li a {
  padding: 5px 0;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}

.menu li a:hover {
  color: #34495E;
}

.menu a.active {
  border-bottom: 2px solid #ecf0f1;
}

#header {
  margin-top: 60px;
  background: url(../images/trianglify-background.svg) 0 14%;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

.project-gallery a{
	display:inline-block;
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #d4d4d4;
	padding: 5px;
	margin: 0 10px 10px 0;
	outline: 0;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.project-gallery a:hover {
  border-color: #7cc9ff;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  z-index:30;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}